h1 {
    border: 15px solid #c16a08;
    padding: 20px;
    border-radius: 20%;
    font-size: 45px;
    font-family: "MyFont", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 710px;
    height: fit-content;
    text-align: center;
}
.mainContent {
    display: grid;
    row-gap: 20px;
    justify-items: center;
    padding: 50px;
    background-color: #f9ce3f;
    border-radius: 30px;
    width: 810px;
}