@font-face {
    font-family: 'MyFont';
    src: url('./Freeman-Regular.ttf');
    font-weight: 600;
    font-style: normal;
}

.honey-comb {
    width: 60px;
    position: absolute;
}


.firstDiv, .secondDiv, .thirdDiv {
    width: 450px;
    border: 20px solid #c16a08;
    border-radius: 20%;
    text-align: center;
    padding: 20px;
}

