
body {
    background-color: rgb(238, 176, 53);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url("./background-image.png");
}

#content {
    display: grid;
    justify-items: center;
}